*.blade.php
nova/
/.phpstorm.meta.php
/vendor
/node_modules
public/vendor/
Homestead.yaml
Homestead.json
.env
_ide-helper.php
.idea
.DS_Store
.sass-cache
.vscode/
todo.txt
/public/hot
public/assets/javascripts
public/assets/stylesheets
rev-manifest.json
/storage/uploads/
todo.md
_ide_helper.php
docker-compose.yml
logs/
database/mysql/
docker-compose.test.yml
database/mysql/
database/redis
test-results/
var/
public/sitemap.xml
public/mix-manifest.json
public/assets/fonts/vendor
public/assets/images/vendor
storage/debugbar
tests/Browser/console
.rnd
.php_cs.cache
.padawan/
public/mix-manifest.json
package-lock.json
webpack-bundle-report.html
public/assets/images/vendor
public/assets/fonts/vendor
public/
public/public
./
webpack-bundle-report.html
test-reports
tags
yarn-error.log
tags.lock
tags.temp
google-sheets-service-account.json
storage/exports/
default.profraw
public/assets/images/generated/
public/assets/bundle/
resources/credentials/**/*
storage/api-docs/**